@import "libs/bootstrap-reboot.min.scss";
@import url("https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@500;700&display=swap");
@import "base/variables";
@import "base/mixins";

* {
  font-family: "Wix Madefor Display", sans-serif;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.divider {
  width: 60px;
  height: 3px;
  background-color: $main-color;
  margin-top: 25px;
}

@import "blocks/promo.scss";
@import "blocks/title";
@import "blocks/button";
@import "blocks/sidepannel";
@import "blocks/menu";
@import "blocks/about";
@import "media/media-menu";
@import "media/media-promo";
@import "media/media-button";
