@media (any-hover: hover) {
  .btn {
    &:hover {
      box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.25);
      transition: box-shadow 0.1s linear;
    }
  }
  .sidepannel {
    #sidepannel-github,
    #sidepannel-instagram,
    #sidepannel-facebook {
      &:hover svg path {
        fill: $main-color;
        transition: fill 0.1s linear;
      }
    }
  }
  .hamburger {
    &:hover span {
      filter: drop-shadow(10px 10px 10px #ffa501);
      transition: filter 0.1s linear;
    }
  }
  .menu {
    &__close {
      &:hover svg path {
        fill: #fff;
        transition: fill 0.1s linear;
      }
    }
    &__link {
      &:hover {
        &::before {
          border: 2px solid #fff;
          transition: border 0.1s linear;
        }
        &::after {
          background-color: #fff;
          transition: background-color 0.1s linear;
        }
      }
    }
    &__social {
      #menu-github,
      #menu-instagram,
      #menu-facebook {
        &:hover svg path {
          fill: #fff;
          transition: fill 0.1s linear;
        }
      }
    }
  }
  .footer {
    &__socials {
      #footer-facebook,
      #footer-telegram,
      #footer-instagram {
        &:hover svg path {
          fill: $main-color;
          transition: fill 0.1s linear;
        }
      }
    }
  }
}

@media (max-width: 1300px) {
  .hamburger {
    position: absolute;
  }
  .sidepannel {
    display: none;
  }
  .skills {
    &__wrapper {
      justify-content: center;
      grid-template-columns: repeat(auto-fill, 270px);
      gap: 13px;
    }
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  .divider {
    margin: 15px auto 0 auto;
  }
  .about {
    padding-top: 70px;
    &__wrapper {
      grid-template-columns: 400px 520px;
      column-gap: 40px;
    }
    &__skills {
      grid-template: repeat(2, 1fr) / repeat(2, 245px);
      column-gap: 30px;
    }
    &__skill {
      grid-template-columns: 40px 184px;
    }
    .title_fz14 {
      font-size: 12px;
    }
  }
  .resume {
    padding-top: 70px;
    &__wrapper {
      padding: 60px 0 0 0;
      column-gap: 60px;
    }
    &__subtitle {
      font-size: 30px;
    }
  }
  .skills {
    padding-top: 70px;
    &__wrapper {
      padding-bottom: 60px;
      grid-template-rows: auto;
      grid-auto-rows: auto;
    }
    &__levels {
      justify-content: center;
      grid-template-columns: repeat(auto-fill, 300px);
      gap: 40px;
    }
    &__subtitle {
      font-size: 30px;
    }
  }
  .portfolio {
    margin: 0;
    padding-top: 70px;
    .vertical,
    .horizontal {
      grid-row: unset;
      grid-column: unset;
    }
    &__wrapper {
      justify-content: center;
      grid-template-columns: repeat(auto-fill, 281px);
    }
    &__subtitle {
      font-size: 30px;
    }
  }
  .footer {
    &__wrapper {
      grid-template-columns: 400px 430px;
      column-gap: 40px;
    }
    &__form {
      grid-template-rows: 45px 190px 50px;
      grid-template-columns: repeat(2, 1fr);
      &-triggers {
        .btn {
          padding-top: 4px;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
  .about {
    padding-top: 60px;
    &__wrapper {
      grid-template-columns: 333px 356px;
      column-gap: 30px;
    }
    &__skills {
      grid-template: auto / 1fr;
    }
    &__skill {
      grid-template-columns: 40px 295px;
    }
    &__subtitle {
      font-size: 30px;
    }
    .title_fz14 {
      font-size: 14px;
    }
  }
  .resume {
    &__wrapper {
      column-gap: 50px;
    }
  }
  .skills {
    &__wrapper {
      grid-template-columns: repeat(auto-fill, 250px);
    }
    &__levels {
      grid-template-columns: repeat(auto-fill, 250px);
    }
  }
  .portfolio {
    &__wrapper {
      gap: 13px;
    }
  }
  .price {
    &__wrapper {
      grid-template-columns: repeat(auto-fill, 410px);
      justify-content: center;
    }
  }
  .footer {
    &__wrapper {
      padding: 70px 0 92px 0;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 30px;
    }
    &__subtitle {
      font-size: 30px;
    }
    &__contacts {
      font-size: 12px;
    }
    &__form {
      grid-template-rows: 45px 190px 45px;
    }
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
  .promo {
    padding-top: 300px;
    background: url(../img/XCnRsv51ego.jpg) no-repeat 60% 10% / cover;
    &__title {
      width: 400px;
      margin-top: 14px;
      line-height: normal;
    }
  }
  .title {
    &_fz48 {
      font-size: 36px;
    }
  }
  .about {
    &__wrapper {
      grid-template-columns: 250px 259px;
      column-gap: 30px;
    }
    &__skill {
      grid-template-columns: 40px 198px;
    }
    &__descr {
      .divider {
        margin-top: 10px;
      }
    }
    &__subtitle {
      font-size: 24px;
      line-height: normal;
    }
  }
  .resume {
    &__wrapper {
      padding: 0;
      grid-template-columns: repeat(auto-fill, 250px);
      column-gap: 40px;
    }
    &__colomn {
      padding: 40px 0 0 50px;
      &-title {
        width: 100%;
      }
    }
    &__subtitle {
      font-size: 24px;
    }
  }
  .skills {
    &__subtitle {
      font-size: 24px;
    }
  }
  .portfolio {
    &__wrapper {
      grid-template-columns: repeat(auto-fill, 263px);
    }
    &__subtitle {
      font-size: 24px;
    }
  }
  .footer {
    &__wrapper {
      grid-template-columns: 240px 269px;
    }
    &__descr {
      .divider {
        margin-top: 10px;
      }
    }
    &__subtitle {
      font-size: 24px;
      line-height: normal;
    }
    &__form {
      grid-template-rows: 45px 45px 190px 98px;
      row-gap: 25px;
      &-input {
        grid-column: 1/3;
      }
      &-triggers {
        height: 100px;
        grid-template-columns: unset;
        grid-template-rows: repeat(2, auto);
        gap: 20px;
        .btn {
          padding-top: 12px;
        }
      }
      &-policy {
        grid-row: 1/2;
      }
    }
  }
}

@media (max-width: 576px) {
  .menu {
    &__block {
      padding-left: 20px;
    }
    &__close {
      left: 20px;
    }
  }
  .promo {
    padding-top: 400px;
    background: url(../img/XCnRsv51ego.jpg) no-repeat 70% 10% / cover;
    &__title {
      width: 300px;
    }
  }
  .hamburger {
    left: 10px;
  }
  .container {
    width: 100%;
    padding: 0 10px;
  }
  .title {
    &_fz48 {
      padding: 0 5px 5px 5px;
      font-size: 26px;
      background-color: rgb(255 255 255 / 27%);
    }
  }
  .about {
    padding-top: 50px;
    &__wrapper {
      grid-template-columns: 1fr;
      grid-template-rows: 340px auto auto;
      grid-auto-rows: minmax(243px, auto);
    }
    &__photo {
      grid-row: 1/2;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 0 -80px;
      }
    }
    &__skill {
      grid-template-columns: 40px auto;
      &-title {
        width: auto;
      }
    }
  }
  .resume {
    padding-top: 50px;
    &__wrapper {
      grid-template-columns: auto;
    }
    &__subtitle {
      line-height: normal;
    }
  }
  .skills {
    padding-top: 50px;
    &__wrapper {
      padding-top: 40px;
      padding-bottom: 40px;
      grid-template-columns: repeat(auto-fill, 270px);
      gap: 20px;
    }
    &__subtitle {
      font-size: 24px;
      line-height: normal;
    }
  }
  .portfolio {
    padding-top: 50px;
    &__wrapper {
      padding-top: 40px;
      grid-template-columns: repeat(auto-fill, 281px);
      gap: 20px;
    }
    &__subtitle {
      line-height: normal;
    }
  }
  .price {
    margin: 0;
    padding-top: 50px;
    &__wrapper {
      padding: 40px 0 0 0;
      grid-template-columns: repeat(auto-fill, 300px);
      grid-template-rows: auto;
      grid-auto-rows: auto;
      row-gap: 20px;
    }
    &__item {
      grid-template-rows: repeat(2, auto);
      column-gap: 20px;
      row-gap: 10px;
      justify-content: unset;
      align-content: unset;
      &-title {
        font-size: 12px;
      }
      &-cost {
        font-size: 12px;
        text-align: right;
      }
    }
  }
  .footer {
    &__wrapper {
      grid-template-columns: 300px;
      justify-content: center;
      padding: 60px 0 50px 0;
    }
  }
}
