@media (any-hover: hover) {
  .menu {
    &__close {
      &:hover svg path {
        fill: #fff;
        transition: fill 0.1s linear;
      }
    }
    &__link {
      &:hover {
        &::before {
          border: 2px solid #fff;
          transition: border 0.1s linear;
        }
        &::after {
          background-color: #fff;
          transition: background-color 0.1s linear;
        }
      }
    }
    &__social {
      #menu-github,
      #menu-instagram,
      #menu-facebook {
        &:hover svg path {
          fill: #fff;
          transition: fill 0.1s linear;
        }
      }
    }
  }
}
